<!DOCTYPE html>
<head>
    <title>Authorization</title>
</head>    
<body>
    <form action="/login/" method="post"  >
        {% csrf_token %}
        <div>

            <label for="username">username</label>
            <input id="username" name="username" type="text" required>
        </div>
        <div>
            <label for="password">password</label>
            <input id="password" name="password" type="password" required>
        </div>
        <input type="submit">
    </form>

</body>