<!DOCTYPE html>
<head>
    <title>Authorization</title>
</head>    
<body>
    <div>This view is for testing Oauth2 authentication backend.
        <br>
         For session based authentication head to 
        <a href="/admin/">Admin login page.</a>
    </div>

    <br>
    <form action="/login/" method="post"  >
        {% csrf_token %}
        <div>

            <label for="username">username</label>
            <input id="username" name="username" type="text" required>
        </div>
        <div>
            <label for="password">password</label>
            <input id="password" name="password" type="password" required>
        </div>
        <input type="submit">
    </form>

</body>